APP_CONFIG: "window.config = { routerBasename: '/', extensions: [], modes: [], showStudyList: true, dataSources: [{ namespace: '@ohif/extension-default.dataSourcesModule.dicomweb', sourceName: 'orthanc', configuration: { friendlyName: 'Orthanc DICOMweb', qidoRoot: '/orthanc/dicom-web', wadoRoot: '/orthanc/dicom-web', wadoUriRoot: '/orthanc/dicom-web', qidoSupportsIncludeField: true, supportsReject: false, imageRendering: 'wadors', thumbnailRendering: 'wadors', enableStudyLazyLoad: true, supportsFuzzyMatching: true, supportsWildcard: true, singlepart: 'bulk' } }], defaultDataSourceName: 'orthanc' };"
