volumes:
  vaultwarden_data:
    name: vaultwarden_data

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: Vaultwarden
    restart: always
    environment:
      DOMAIN: "https://vaultwarden.yourdomain.tld"
      # Go to https://bitwarden.com/host, insert your email address, select bitwarden.com as the data region and you'll get an INSTALLATION ID and KEY.
      PUSH_ENABLED: true
      PUSH_INSTALLATION_ID: 476ad35a-84b1-43f1-a5b6-b3e300261074
      PUSH_INSTALLATION_KEY: 9sgPQPhkqGhzso5N4Vhs
      # If you have requested an INSTALLATION ID and KEY for bitwarden.eu (European Union) instead, you also have to set the following:
      # PUSH_RELAY_URI: https://api.bitwarden.eu
      # PUSH_IDENTITY_URI: https://identity.bitwarden.eu
      EXPERIMENTAL_CLIENT_FEATURE_FLAGS: extension-refresh,autofill-overlay,autofill-v2,ssh-key-vault-item,ssh-agent
      # Run `/vaultwarden hash` in the container's terminal to generate the ADMIN_TOKEN
      # ADMIN_TOKEN: '$argon2id$v=19$m=65540,t=3,p=4$jimQKAHoZTYHF4vfsAf4TvpwEBgpOBk4CgJceUBfN1s$P6FWUAY9792IzNd/cGuvxQFzreBLtn3M6b+gcARAi2Q'
      SIGNUPS_ALLOWED: false
    volumes:
      - vaultwarden_data:/data/
    ports:
      - 8000:80
